* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: radial-gradient( #fafafa, rgb(245, 124, 195));

}

.topbar {
  background: radial-gradient( #fafafa, rgb(252, 129, 201));
  padding: 10px 15px;
  border-bottom: 1px solid #d521ba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.sidebar {
  margin-top: 12.5px;
  width: 180px;
  background: radial-gradient( #fafafa, rgb(251, 145, 207));
  height: 100vh;
  border-left: 1px solid #ee00ff;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 44px;
}

.side-link {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 6px;
}


.side-link:hover {
  background: #eee;
  font-weight: bold;
}

.content {
  padding: 15px;
  margin-right: 180px;
  margin-top: 44px;
  font-size: 14px;
}

.welcome-box,
.stats,
.activity-box {
  background: #fcd8f3;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 9px;
}

.stat-card {
  background: #ffa7e9;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 9px;
}

button {
  padding: 6px 10px;
  padding: 8px 14px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  background: #eee;
}

.btn-upload {
  display: inline-block;
  padding: 8px 14px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.btn-upload input {
  display: none;
}
.btn-upload:hover {
  background: #eee;
}
.exit{
  background-color: red;
}
.exit:hover{
  transform: scale(1.1);
    background-color: rgb(255, 39, 39);

}