* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "IRANYekanX";
  src: url(./fonts/BYekan+.ttf) format("truetype");
}

body {
  background: linear-gradient(135deg, hsl(177, 66%, 79%), rgb(236, 141, 169));
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "IRANYekanX", sans-serif;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  width: 300px;
  max-width: 90%;
  border: none;
  background:linear-gradient(rgba(179, 8, 8, 0.5), rgba(6, 6, 137, 0.463));
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  margin-right: 25px;
}

legend {
  background-color: #b11a66da;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 16px;
}

label {
  display: block;
  margin: 8px 0 4px 0;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}

input:not(#submit) {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

input:not(#submit):focus {
  outline: none;
  box-shadow: 0 0 4px #fff;
}

input[type="submit"] {
  background: linear-gradient(135deg, hsl(248, 81%, 23%), rgb(238, 48, 105));
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px #011149;
  transition: all 0.2s ease;
  margin: auto;
}
input[type="submit"]:active {
  box-shadow: 0 2px #011149;
  transform: translateY(3px);
}

