* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "IRANYekanX";
  src: url(./fonts/BYekan+.ttf) format("truetype");
}
body {
  font-family: IRANYekanX, sans-serif;
}
.Rectangle2700 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 61px;
  background: linear-gradient(
    to right,
    rgba(255, 102, 0, 1),
    rgba(255, 235, 135, 1)
  );
  text-align: center;
  font-family: IRANYekanX;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.Rectangle2700 span {
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
}
.Rectangle2700 a {
  all: unset;
  cursor: pointer;
}
.bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  text-align: center;
}
.bar a {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  text-decoration: none;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 30px;
  height: 45px;
  font-family: IRANYekanX;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 11px;
  margin-left: 65px;
}
.login a {
  display: inline-block;
  width: 83px;
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: IRANYekanX;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 3px;
}
.logo {
  display: inline-block;
  width: 79.61949920654297px;
  height: 62px;
}
.right li {
  list-style-type: none;
  display: inline-block;
  margin: 20px;
}
.mahdi {
  display: block;
  width: 100%;
  height: 550px;
  margin-top: 4px;
}
.line91 {
  width: 453px;
  height: 0px;
  border-width: 1px;
  border: 1px solid rgba(169, 55, 65, 1);
  display: inline-block;
}
.asar {
  font-family: IRANYekanX;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  display: inline-block;
  margin-right: 36px;
}
.order {
  display: flex;
  margin-top: 73px;
  align-items: center;
}
.line3 {
  width: 100%;
  height: 0px;
  border-width: 1px;
  border: 1px solid rgba(204, 204, 204, 1);
  margin-top: 73px;
}
.category {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
}
.category > * {
  flex: 0 0 auto;
}
.category::-webkit-scrollbar {
  display: none;
}
.category img {
  width: 231px;
  height: 296px;
}
.category div h2 {
  font-family: IRANYekanX;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  margin-top: 37px;
}
.category div {
  width: 450px;
  height: 130px;
  margin-left: 74px;
}
.category div p {
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 15px;
}
.category div a {
  all: unset;
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(0, 43, 174, 1);
  cursor: pointer;
}
.category div:nth-child(4) {
  width: 231px;
  height: 296px;
  margin-right: 14px;
  background-color: rgba(217, 217, 217, 1);
  margin-left: 0;
}
.category div:nth-child(5) {
  width: 231px;
  height: 296px;
  margin-right: 14px;
  background-color: rgba(217, 217, 217, 1);
  margin-left: 0;
}
.line4 {
  width: 100%;
  height: 0px;
  border-width: 1px;
  border: 1px solid rgba(204, 204, 204, 1);
}
.line92 {
  width: 168px;
  height: 0px;
  border-width: 1px;
  border: 1px solid rgba(204, 204, 204, 1);
  display: inline-block;
}
.course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 341px;
  align-items: center;
  overflow-x: auto;
}
.course > * {
  flex: 0 0 auto;
}
.course::-webkit-scrollbar {
  display: none;
}

.course p {
  width: 288px;
  height: 103px;
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(83, 83, 83, 1);
  margin-right: 30px;
}
.line83 {
  width: 0;
  height: 100%;
  border-width: 1px;
  border: 1px solid rgba(204, 204, 204, 1);
}
.course-list {
  height: 100%;
  width: 252px;
  padding-top: 50px;
}
.course-list img {
  width: 252px;
  height: 153px;
  border-radius: 5px;
}
.course-list h2 {
  font-family: IRANYekanX;
  font-weight: 600;
  font-style: DemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 10px;
}
.course-list div {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 40px;
}
.course-list div img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 12px;
}
.course-list p {
  display: inline;
  font-family: IRANYekanX;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0%;
  width: 60px;
  height: 20px;
  margin-right: 8px;
}
.order h1 {
  font-family: IRANYekanX;
  font-weight: 600;
  font-style: DemiBold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
}
.news {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 90px;
  width: 100%;
  height: 630px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-width: 1px;
  position: relative;
}

.news div:nth-child(1) {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 50%;
  border-left: 1px solid rgba(204, 204, 204, 1);
  padding-top: 20px;
  padding-right: 20px;
}
.size {
  width: 276px;
  height: 270px;
  border-radius: 3px;
}

.news div a {
  display: inline-block;
  font-family: IRANYekanX;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  width: 289px;
  height: 60px;
  margin-right: 10px;
  margin-top: 16px;
}

.news div p {
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(0, 43, 174, 1);
  margin-right: 10px;
  margin-top: 10px;
}
.layout {
  height: 100%;
  width: 0;
  border: 1px solid rgba(204, 204, 204, 1);
}
.position {
  position: absolute;
  bottom: 0px;
}
footer {
  display: flex;
  border-top: 1px solid rgba(204, 204, 204, 1);
  margin-top: 60px;
}
footer div img {
  width: 100px;
  height: 80px;
  margin-top: 35px;
  margin-right: 35px;
}
.first {
  border-left: 1px solid rgba(204, 204, 204, 1);
  width: 33%;
}
footer div p {
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  width: 357px;
  height: 103px;
  margin-top: 10px;
  margin-right: 35px;
  color: rgba(83, 83, 83, 1);
}
.second {
  width: 33%;
  border-left: 1px solid rgba(204, 204, 204, 1);
}
footer div ul {
  margin-right: 15px;
  font-family: IRANYekanX;
  font-weight: 600;
  font-style: DemiBold;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 15px;
}
footer div li {
  margin-right: 40px;
  font-family: IRANYekanX;
  font-weight: 600;
  font-style: DemiBold;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: right;
}
footer div li a {
  all: unset;
  cursor: pointer;
}

.second div p {
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 20px;
  text-align: right;
  margin-right: 10px;
}
.second div:nth-child(2) {
  margin-top: 55px;
  border-top: 1px solid rgba(204, 204, 204, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.third {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  height: 70%;
  width: 34%;
}
.third h2 {
  margin-top: 30px;
  font-family: IRANYekanX;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  margin-right: 30px;
  margin-bottom: 45px;
}
.fa-lightbulb {
  font-family: Font Awesome 6 Pro;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(255, 102, 0, 1);
}
.right li:hover {
  transform: scale(1.4);
  background-color: rgb(159, 245, 255);
  border-radius: 50%;
  transition: 1s;
}
img:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 0 3px 2px gray;
}
.mahdi:hover {
  transform: scale(1);
}
.login:hover {
  transform: rotate(-12.5deg);
  transition: 2s;
  transition-timing-function: ease-in;
}
